.cal {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    background-color: white;
    border-spacing: 1px;
    border-collapse: collapse;
}

table tr td {
    width: 100%;
    border: none;
    background-color: white;
    text-align: right;
    font-weight: bold;
    font-size: small;
}
